* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  height: 100vh;
  background: radial-gradient(50% 50% at 50% 50%, #2b2b2b 0%, #000 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 18px;
  aspect-ratio: 1/1;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#button-power img {
  width: 50%;
  opacity: 0.5;
}

.middle-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 9fr 1fr;
  grid-template-rows: 1fr;
}
.middle-container .center {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle-container .center .camera {
  height: 60%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle-container .center .camera::before {
  content: "";
  width: 30%;
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: block;
  background: black;
}
.middle-container .center .camera::after {
  content: "";
  display: block;
  width: 30%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: absolute;
  left: 25px;
  background: black;
}
.middle-container .left {
  position: relative;
}
.middle-container .left .status {
  position: absolute;
  padding-left: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 6px;
}
.middle-container .left .status .status-led {
  height: 60%;
  width: 4px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  position: relative;
}
.middle-container .left .status .status-led::before {
  content: "";
  width: 8px;
  height: 8px;
  left: -2px;
  display: block;
  position: absolute;
  top: -15px;
  opacity: 0.8;
}
.middle-container .left .status .status-led#status-ethernet::before {
  background-image: url("../media/icons/signal.svg");
}
.middle-container .left .status .status-led#status-charge::before {
  background-image: url("../media/icons/plug.svg");
}
.middle-container .left .status .status-led#status-power::before {
  background-image: url("../media/icons/power.svg");
}

@keyframes shake {
  0% {
    transform: translate(-8px, -6px);
  }
  15% {
    transform: translate(8px, 1px);
  }
  30% {
    transform: translate(-4px, -2px);
  }
  60% {
    transform: translate(-2px, -7px);
  }
  75% {
    transform: translate(0px, -5px);
  }
  100% {
    transform: translate(7px, -3px);
  }
}
.shake-animation {
  animation: shake 0.2s 0s infinite linear alternate;
}

.container {
  display: grid;
  grid-template-rows: 300px 21px 300px;
}
.container .middle {
  width: 100%;
  border-radius: 15px;
  background: #41bbcb;
}
.container .display {
  aspect-ratio: 2/1;
  background-color: #69C9D6;
  padding: 16px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.container .display .main-content {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 70% 1fr;
  gap: 15px;
}
.container .display .main-content .screen {
  border-radius: 5px;
  width: 100%;
  aspect-ratio: 16/9;
  background: #030712;
  display: flex;
}
.container .display .main-content .screen iframe {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  border: none;
}
.container .display .main-content .group-audio {
  width: -moz-fit-content;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 6px;
}
.container .display .main-content .group-audio .audio-circle {
  width: 8px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}
.container .display .main-content .controls-left {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.container .display .main-content .controls-left .controls-top {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  top: 36px;
}
.container .display .main-content .controls-left .controls-top .control-movement {
  width: 12px;
  height: 24px;
  position: absolute;
  background-color: #34aebe;
  padding: 2px;
}
.container .display .main-content .controls-left .controls-top .control-movement::after {
  content: "";
  width: 2px;
  height: 8px;
  display: block;
  left: 50%;
  transform: translate(-50%);
  position: relative;
  background: white;
}
.container .display .main-content .controls-left .controls-top .control-movement.top {
  transform: translateY(-8px);
}
.container .display .main-content .controls-left .controls-top .control-movement.right {
  transform: translateX(8px) rotateZ(90deg);
}
.container .display .main-content .controls-left .controls-top .control-movement.left {
  transform: translateX(-8px) rotateZ(-90deg);
}
.container .display .main-content .controls-left .controls-top .control-movement.bottom {
  transform: translateY(8px) rotateZ(180deg);
}
.container .display .main-content .controls-right {
  height: 100%;
  position: relative;
}
.container .display .main-content .controls-right .controls-top {
  width: -moz-fit-content;
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 6px;
  rotate: 45deg;
  font-size: 8px;
  position: relative;
  top: 24px;
}
.container .display .main-content .controls-right .controls-top .button {
  rotate: -45deg;
}
.container .display .main-content .controls-bottom {
  bottom: 0;
  position: absolute;
}
.container .display .main-content .group-button {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 8px;
  font-size: 8px;
  text-transform: uppercase;
  color: white;
}
.container .display .main-content .group-button .button {
  width: 12px;
  height: 12px;
}/*# sourceMappingURL=style.css.map */